remove_songs.py
db_queries.py
calcIndex.py

debug.log

maxs.csv
mins.csv
maxs_new.csv
mins_new.csv



/spotify_package/_keys.py

/__pycache__
/spotify_package/__pycache__
/spotify_package/database/__pycache__
/covid_package/__pycache__
/netflix_package/__pycache__
/temps
